/* CSS files add styling rules to your content */

header a{
  
  background: rgb(245,241,244);
  float:right;
  margin: 10px 5px;
}

header div{
  
position: relative;
  left: 500px;
  top: 200px;
  
}