/* CSS files add styling rules to your content */

header a{
  
  background: rgb(245,241,244);
  float:right;
  margin: 10px 5px;
}

.imgc {
  
position: relative;
  left: 500px;
  top: 200px;
  
}

form{
  
  position: relative;
  left: 500px;
  top: 200px;
}

.button{
  margin:20px 140px;
  padding: 10px;
  background: rgba(248,241,248,0.7);
  
}