/* CSS files add styling rules to your content */

header a {
  background: rgb(245, 241, 244);
  float: right;
  margin: 10px 5px;
}

form {
  position: relative;
  left: 500px;
  top: 200px;
}


.imgc {
  position: relative;
  left: 500px;
  top: 200px;
}

button {
    border-radius: 5px;
    background-color: #0F5897;
    margin: 10px 5px;
    padding: 10px 10px 10px 10px;
    }
.button-pos{
   position: relative;
  left: 200px;
  top: 200px;
  
}
.lang {
  position: relative;
  left: 600px;
  top: 260px;
  margin: 10px 5px;
}

.leftb{
  
  position: relative;
  float:left;
  top: 400px;
  margin: 10px 5px;
}


.rightb{
  position: relative;
  top: 400px;
  float:right;
  margin: 10px 5px;
}

footer{
  position: relative;
  float:left;
  top: 370px; 
  margin: 10px 5px;
}